

.video {
    width: 60%;
    height: 500px;
    border-radius: 20px;
}




.slideshow{
    position: relative;
}


.slides {
    cursor: pointer;
    position: relative;
}


.slide {
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-position: 73% 33%;
    background-size: cover;
    position: relative;
    transition: 0.6s;
}

.slide::before {
    position: absolute;
    content: "";
    width: 70%;
    height: 100%;
    left: 0;
    z-index: 1;
    background-image: linear-gradient(to right, rgb(0, 0, 0, 1), transparent);
}
.slide::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 50%;
    bottom: 0;
    z-index: 1;
    background-image: linear-gradient(to top, rgb(0, 0, 0, 1), transparent);
}

.slide.slide-first {
    background-image: url('../img/slide-film/film6.jpg');
    transition: 0.6s;
}

.slide.active-1 {
    background-image: url('../img/slide-film/film6.jpg');
    transition: 0.6s;
}

.slide.active-2 {
    background-image: url('../img/slide-film/film5.jpg');
    transition: 0.6s;
}


.slide.active-3 {
    background-image: url('../img/slide-film/film3.jpg');
    transition: 0.6s;
}

.slide.active-4 {
    background-image: url('../img/slide-film/film4.jpg');
    transition: 0.6s;
}



/* Dot  Css */

.slides-dot{
    list-style: none;
    display: flex;
    position: absolute;
    bottom: 20%;
    left: 91%;
    transform: translateX(-50%);
    z-index: 99;
}

.slides-dot_item {
    border: 1px solid transparent;
    background-color: #2b4570;
    border-radius: 50%;
    padding: 5px;
    cursor: pointer;
    transition: 0.8s;
}

.slides-dot_item.active {
    background-color: #fff;
    border-radius: 20px;
    padding: 5px 30px;
}

.slides-dot_item:not(:last-child) {
    margin-right: 14px;
}

/* Prev and next slide */

.slides-manual {
    width: unset;
    list-style: none;
    display: flex;
    justify-content: unset;
    align-items: center;
    position: absolute;
    bottom: 10%;
    left: 85%;
    font-size: 2rem;
    font-weight: bold;
    color: var(--white-color);
    cursor: pointer;
    z-index: 10;
}

.slides-manual li {
    padding: 16px;
    cursor: pointer; 
    font-size:  3rem;
    transition: 0.6s;
}

.slides-manual li:hover {
    color: #2b4570;
}


/* Slide content for slides*/
.slide-content {
    width: 530px;
    height: 206px;
    position: absolute; 
    top: 20%;
    left: 90px;
    background-repeat: no-repeat;
    background-position: left;
    background-size: contain;
}

.slide-content.slide-content-first {
    background-image: url('../img/slide-film-content/jonwich3.png');
    transition: 0.6s;
    z-index: 1;
}

.slide-content.active-5 {
    background-image: url('../img/slide-film-content/jonwich3.png');
    transition: 0.6s;
}

.slide-content.active-6 {
    background-image: url('../img/slide-film-content/spider-man.png');
    transition: 0.6s;
    height: 196px;
}

.slide-content.active-7 {
    background-image: url('../img/slide-film-content/dangCapThuongLuu.png');
    transition: 0.6s;
}

.slide-content.active-8 {
    background-image: url('../img/slide-film-content/bienXanh.png');
    transition: 0.6s;
}

/* slide context css */

.slide-content-app {
    width: 509px;
    height: 206px;
    position: absolute; 
    top: 55%;
    text-align: left;
    left: 25%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: 1;
}

.btn-slide {
    width: 240px;
    height: 56px;
    font-size: 1.5rem;
    font-weight: 550;
    transition: 0.4s;
    cursor: pointer;
    color: #222;
}

.btn-slide:hover {
    transform: translateY(-2px);
}

.slide-content-text {
    color: rgba(255, 255, 255, 0.8);
    font-size: 1.3rem;
    box-shadow: unset;
    display: none;
    transition: all ease 1s;
    font-weight: 300;
}

.visi-slide-film {
    display: block;
    transition: all ease 1s;
}


.btn-film {
    background-color: rgba(255, 255, 255, 0.1);
    color: var(--white-color);
    font-size: 1rem;
    width: 165px;
    height: unset;
    padding: 14px 4px;
    margin-right: 16px;
}

.btn-film i {
    margin-right: 6px;
}

.film-app {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    justify-content:  center;
    align-items: center;
    transition: all 0.4s;
    z-index: 999;
    display: none;
}

.modal-film {
    background-color: rgba(0, 0, 0, 0.9);
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.on-film {
    display: flex;
}

.trailer, .film {
    width: 60%;
    height: 500px;
    z-index: 1;
}
/* css film app */

.storage-body {
    background-color: #111111;
    height: unset;
}

.storage-wrap {
    padding-top: 20px;
}

.storage-wrap:first-child {
    padding-top: 50px;
}

.storage-item_header {
    color: white;
    position: relative;
    font-size: 0.9rem;
}

.storage-items_container {
    overflow: auto;
}

.storage-items_container::-webkit-scrollbar {
    display: none;
}

.storage-items-next {
    position: absolute;
    right: 0;
    top: 48px;
    z-index: 999;
    color: rgba(255, 255, 255, 0.6);
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    cursor: pointer;
    transition: 0.6s;
    height: 168px;
    width: 70px;
}

.storage-items-next i {
    z-index: 0;
    position: absolute;
    top: 50%;
    left: 36%;
    /* transform: translateX(-50%); */
    transform: translateY(-50%);
    color: rgba(255, 255, 255, 1);
    font-size: 2rem;
    transition: all ease 0.4s;
}

.storage-items-prev {
    left: 0;
    display: none;
    position: absolute;
    top: 38px;
    z-index: 999;
    color: rgba(255, 255, 255, 0.6);
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    cursor: pointer;
    transition: 0.6s;
    height: 168px;
    width: 70px;
}

.storage-items-prev i {
    z-index: 0;
    position: absolute;
    top: 50%;
    left: 36%;
    /* transform: translateX(-50%); */
    transform: translateY(-50%);
    color: rgba(255, 255, 255, 1);
    font-size: 2rem;
    transition: all ease 0.4s;
}

.storage-items, .storage-items-1, .storage-items-2, .storage-items-3{
    display: flex;
    /* width: 188%; */
    width: 472%;
    height: 208px;
    padding: 20px 0;
    transition: all ease 1s;
}

.storage-item {
    position: relative;
    width: calc(100% / 5);
    height: 168px;
    cursor: pointer;
    transition: all ease 0.4s;
    transform: bottom;
    top: 0;
}

.storage-item:not(:last-child) {
    margin-right: 14px;
}

.storage-item-change {
    width: calc(100% / 4);
    top: -18px;
    height: 200px;
}

.storage-item > img {
    width: 100%;
    height: 100%;
    border-radius: 6px;
}

.storage-item-overlay {
    position: absolute;
    top: 0;
    bottom: 0px;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6);
    animation: overOn ease 0.4s;
    display: none;
    border-radius: 6px;
    justify-content: center;
    align-items: center;

}

.storage-item-icon i {
    color: white;
    font-size: 2.8rem;
    transition: 0.4s;
}

.storage-item-icon i:hover {
    color: var(--primary-color);
}

.onOverlayFilm {
    display: flex;
}

@keyframes overOn {
    from {
         opacity: 0;
    }
    to {
        opacity: 1;
   }
}


.storage-item-description {
    position: absolute;
    bottom: 16px;
    left: 16px;
    color: white;
}

.storage-item-description_header {
    margin-bottom: 8px;
}

.storage-item-description_body{
    display: flex;
    align-items: center;
    flex-direction: row;
    font-size: 0.4rem;
}

.storage-item-description_body i {
    font-size: 0.6rem;
    padding: 0 10px
}

.storage-item-description_body span {
    font-size: 0.8rem;
}

/* css  storage-body-modal*/
.storage-body-modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99999;
    display: none;
}

.storage-body-modal_overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.9);
}

.storage-body-modal_overlay i {
    color: rgba(255, 255, 255, 0.2);
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 1.4rem;
    padding: 8px;
    transition: transform 0.6s;
}

.storage-body-modal_overlay i:hover {
    transform: rotateZ(180deg);
    color: rgb(219, 26, 26);
    cursor: pointer;
}

.storage-body-modal_container {
    position: absolute;
    background-color: #202429;
    width: 80%;
}

.storage-modal_container_see {
    display: flex;
    padding: 20px 20px;
}

video {
    width: 80%;
    height: 500px;
    border-radius: 4px;
    background-color: black;
}

.notiFilm {
    display: none;
    width: 80%;
    height: 500px;
    border-radius: 4px;
    background-color: black;
    color: #666;
    justify-content: center;
    align-items: center;
    font-size: 1.6rem;
    text-align: center;
}

.notiFilm a {
    color: rgba(13, 104, 223, 0.932);
    text-decoration: none;
}

.storage-modal_container_see-descriptio {
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #111;
    width: 187px;
}

.storage-desciption_header {
    color: rgba(255, 255, 255, 0.6);
    padding-bottom: 64px;
    text-align: center;
    padding-left: 4px;
    padding-right: 4px;
}

.btn-trailer {
    margin-bottom: 16px;
}

.btn-trailer, .btn-film-play {
    font-weight: bold;
    background: rgba(255, 255, 255, 0.6);
}

.active-play {
    background-color: rgb(219, 26, 26);
    color: white;
}

.storage-desciption_logo {
    margin: 40px 0 150px;
    width: 110px;
    height:55px;
}

.storage-desciption_btnm {
    width: 100%;
    text-align: center
}

.storage-item_header-content {
    margin-bottom: 20px;
}

.storage-content {
    height: 330px;
    text-align: center;
    margin-bottom: 20px;
    border-radius: 6px;
}

.storage-content:last-child{
    display: none;
}

.zero-end {
    width: 100%;
}

.storage-content img {
    width: 100%;
    height: 100%;
    border-radius: 6px;
    transition: all 0.4s;
}

.storage-content img:hover {
    transform: translateY(-6px);
    opacity: 0.6;
    cursor: pointer;
}

.content-end {
    padding-bottom: 20px;
}

.footer::before {
    left: 0;
    top: 0;
    background-image: linear-gradient(0, transparent, #111 95%);
}