
@media (min-width: 740px) {
    .hidden-pc-tablet-film {
        display: none;
    }
}

@media (min-width: 1024px) {
    .hidden-pc-film {
        display: none;
    }
}

@media (max-width: 1023px) {
    .hidden-on-mobile-tablet-film {
        display: none;
    }
}

@media (max-width: 739px) {
    .hidden-on-mobile-film {
        display: none;
    }
    .slides-manual {
        display: none;  
    }

    .slides-dot {
        background-size: contain;
        background-position: center;
        left: 50%;
        transform: translateX(-50%);
        bottom: 12px;
    }

    .slides-dot_item {
        padding: 4px;
    }

    .slides-dot_item.active {
        padding: 4px 14px;
    }

    .slides-dot_item:not(:last-child) {
        margin-right: 10px;
    }

    .slide-content {
        width: 60%;
        background-size: contain;
        background-position: center;
        left: 50%;
        transform: translateX(-50%);
        top: 45%;
    }

    .slide {
        height: 75vh;
    }

    .slide-content.active-6 {
    }

    .slide-content.slide-content-first {
        background-image: url('../img/slide-film-content/jonwich3.png');
    }
    .slide-content.active-5 {
        background-image: url('../img/slide-film-content/jonwich3.png');
        transition: 0.6s;
    }
    
    .slide-content.active-6 {
        background-image: url('../img/slide-film-content/spider-man.png');
        transition: 0.6s;
    }
    
    .slide-content.active-7 {
        background-image: url('../img/slide-film-content/dangCapThuongLuu (1).png');
        transition: 0.6s;
    }
    
    .slide-content.active-8 {
        background-image: url('../img/slide-film-content/bienXanh (1).png');
        transition: 0.6s;
    }

    .slide-content-text {
        display: none;
    }

    .slide-content-app {
        width: 100%;
        background-position: center;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
        top: 80%;
    }
    .btn-film {
        margin-right: unset;
        width: 150px;
        background-color: #045697;
    }

    .slide-content-app .btn-film:first-child {
        margin-right: 16px;
        padding: 14px 1px;
    }

    .slide::before {
       position: absolute;
        content: "";
        width: 100%;
        height: 20%;
        bottom: 20%;
        z-index: 1;
        background-image: linear-gradient(to top, black, transparent);
    }
    
    .slide::after {
        height: 20%;
        background-color: black;
    }

    .slide-content.active-6 {
        top: 39%;
    }

    .film-select-op {
        display: flex;
        justify-content: space-between;
        margin-top: 30px;
        margin: 20px 34px 10px 34px;
    }
    
    .film-select {
        font-size: 1.3rem;
        font-weight:300;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: transparent;
        border: none;
        /* color: var(--sub-text-color); */
        color: white;
    }

    .container::after {
        display: none;
    }

    .film-select span {
        font-size: 0.9rem;
        margin-top: 6px;
    }

    .trailer, .film {
        width: 100%;
        height: 270px;
    }

    /* css item film */
    .storage-items, .storage-items-1, .storage-items-2, .storage-items-3 {
        width: 950%;
        height: 150px;
    }

    .storage-item {
        height: unset;
    }

    .storage-item:not(:last-child) {
        margin-right: 6px;
    }

    .storage-items-next {
        display: none;
    }

    .storage-items-prev {
        display: none;
    }

    .storage-wrap {
        padding: 20px 10px 0 10px;
    }

    .storage-item_header {
        padding-bottom: unset;
    }
    .storage-items {
        padding: 20px 0;
    }

    .storage-item-change {
        width: calc(100% / 5);
        top: 0;
    }

    .storage-body-modal_container {
        width: 100%;
    }
    
    .storage-modal_container_see {
        flex-direction: column;
    }

    .storage-body {
        background-color: #000;
    }


    video {
        width: 100%;
        height: unset;
        border-radius: unset;
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;
    }

    .notiFilm {
        width: 100%;
        height: 50vh;
    }

    .notiFilm a{
        padding: unset;
    }
    .notiFilm span {
        padding: 0 22px;
    }

    .storage-modal_container_see-descriptio {
        margin-left: unset;
        border-bottom-left-radius: 6px;
        border-bottom-right-radius: 6px;
        width: unset;
    }

    .storage-desciption_logo {
        margin: 40px 0 150px;
        width: 82px;
        height: 40px;
        top: -21px;
        transform: unset;
        position: absolute;
    }

    .storage-modal_container_see {
        padding: 80px 6px 100% 6px;
        
    }

    .storage-body-modal_overlay i {
        top: 18px;
        z-index: 1;
        right: 18px;
        font-size: 1.2rem;
        left: unset;
    }

    .storage-body-modal {
        align-items: start;
    }

    .storage-desciption_header {
        padding: 16px 0 30px 0;
    }

    .btn-trailer {
        margin-right: 16px;
        margin-bottom: unset;
    }

    .storage-desciption_btnm {
        margin-bottom: 16px;
    }

    .btn-mobile-slide {
        padding: 9px 20px;
        font-size: 1.2rem;
        font-weight: bold;
        border: none;
        border-radius: 3px;
        background-color: white;
        color: black;
        
    }

    .btn-mobile-slide i {
        margin-right: 10px;
    }

    .storage-content {
        height: 260px;
    }

    .storage-content:last-child{
        display: block;
    }
}
