
/* mobie */

/* PC */
@media (min-width: 1240px) {
    .hidden-on-pc {
        display: none;
    }
}

/* pc and tablet-pro */
@media (min-width: 1024px) {
    .hidden-on-pc-tablet {
        display: none;
    }

    .header {
        /* display: none; */
    }

    .content-show-device_img {
        width: 100%;
    }

    .content-method_img img {
        width: 100%;
    }

}

/* Tablet & Mobile */
@media (max-width: 1023px) {
    .hidde-on-table-mobile{
        display: none;
    }

    .content-footer_img {
        width: 100%;
    }

    .content-footer_partner_img-first {
        width: 100%;
        overflow-x: auto;
    }
}

/* Only Tablet Pro*/
@media (min-width: 1024px) and (max-width: 1239px){
    .hidden-on-tablet-pro {
        display: none;
    }
}

/* Only Tablet */
@media (min-width: 740px) and (max-width: 1023px){
    .hidden-on-tablet {
        display: none;
    }

    
}

/* Only Mobile */
@media (max-width: 739px) {
    .hidde-on-mobile{
        display: none;
    }

    html {
        user-select: none;
        -webkit-user-select: none;
    }

    .header {
        padding: 0 16px;
        height: 66px;
    }

    .header_navigation {
        display: none;
    }

    /* menu */
    .menu-mobile {
        height: 100%;
        width: 100%;
        display: flex;
        flex-shrink: 1;
        justify-content: space-between;
        align-items: center;
        font-size: 1.2rem;
        color: var(--white-color);
    }

    .menu-mobile_logo {
        transform: translateX(30%)
    }

    .menu-mobile_login {
        font-size: 14px;
        line-height: 66px;
        font-weight: bold;
    }

    .btn-login {
        display: none;
    }

    .slides-manual {
        display: none;
    }

    .content-method_img img {
        width: 100%;
    }

    .content-decription {
        width: 100%;
        padding-top: 60px;
    }

    .slide-content {
        width: 70%;
        top: 55%;
        left: 15%;
        background-size: contain;
    }

    .slide-content.active-6 {
        top: 48%;
    }

    .btn-slide {
        font-size: 1rem;
        width: unset;
        height:unset;
        padding: 14px 10px;
        margin: unset;
        background-color: rgba(255, 255, 255, 0.8);
    }

    .slide-content-app {
        bottom: -16px;
    }

    .slide-content-text {
        display: none;
    }

    .content-decription_logo_second_img {
        padding-right: unset;
    }

    .content-decription_wrap img {
        width: 80%;
    }

    /* Css Body */
    .mobile-padding {
        padding: 0 6px;
    }

    .mobile-col-padding {
        padding-top: 60px;
    }

    .mobile-col-padding_item {
        padding-top: 30px;
    }

    .content-decription {
        text-align: center;
    }

    .content-description_heading {
        text-align: center;
        font-size: 1.7rem;
        line-height: 40px;
    }

    .content-decription_logo-first {

    }

    .content-decription_logo-first {
        padding-right: unset;
    }

    .content-show_img {
        height: unset;
        width: 49%;
    }

    .content-description_crop_width {
        width: 100%;
    }

    .content-show-device_img {
        width: 100%;
        height: 100%;
    }

    .content-show-device {
        text-align: center;
    }

    .btn-body-device {
        margin-right: unset;
        margin-top: 30px;
    }

    .content-show-device {
        text-align: center;
        width: 100%;
    }

    .content-method {
        margin-left: unset;
        transform: unset;
        font-size: 1.7rem;
        padding-top: 60px;
    }

    .content-method_heading {
        font-size: 1.2rem;
    }

    .content-method_description {
        align-items: unset;
    }

    .content-method_heading_light {
        font-size: 1.4rem;
    }

    .content-method_text {
        font-size: 1.1rem;
        width: 100%;
    }

    .content-footer_background {
        background-size: cover;
    }

    .content-footer_suptext {
        max-width: 90%;
    }

    .content-footer_partner_img-first img,
    .content-footer_partner_img-seconds img {
        padding-right: 24px;
    }

    .content-footer_partner_img-seconds {
        justify-content: space-around;
        flex-wrap: wrap;
    }

    .content-footer_partner_img-seconds img {
        padding-bottom: 30px;
    }

    .content-footer_partner {
        font-size: 1.7rem;
        padding-bottom: 20px;
    }

    

    .content-description_subtext-detail {
        padding-bottom: 10px;
    }

    .content-description_body,
    .content-description_subtext {
        font-weight: unset;
    }

    .content-description_heading:not(:first-child) {
        padding-top: 20px;
    }

    .content-decription_wrap {
        padding-bottom: unset;
    }

    .content-description_body_pb {
        padding-bottom: 2px;
    }

    .footer_address_mb {
        line-height: 26px;
        margin-bottom: 6px;
    }

    .footer_address {
        padding-bottom: 6px;
    }

    .footer_app {
        justify-content: unset;
    }

    .footer_app img {
        margin-right: 16px;
    }

    .footer_app_mobile img {
        width: 140px;
    }

    .footer_app_mobile_social img{
        margin-right: 34px;
        width: 48px;
    }

    .slides-dot {
        bottom: 4%;
    }

    /* Css Menu Mobile */
    .mobile-menu {
        position: fixed;
        top: 0;
        bottom: -20%;
        left: 0;
        right: 0;
        background-color: #101010;
        z-index: 99;
        transform: translateY(-100%);
        transition: 0.6s;
    }

    .visi-menu {
        transform: translateY(0%);
    }

    .mobie-menu-nav {
        list-style: none;
        text-align: center;
    }

    .mobile-menu-item {
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
        position: relative;
    }
    
    .mobile-menu-item:first-child {
        margin-top: 66px;
    }
    
    .mobile-menu-item_link {
        padding: 24px 10px;
        display: block;
        text-decoration: none;
        color: rgba(255, 255, 255, 0.6);
        font-size: 1.2rem;
        font-weight: 400;
    }

    .mobile-menu-subnav {
        padding: 0;
        transition: 1s;
    }
    
    .mobile-menu-subnav-item {
        height:0;
        transition: 0.4s;
    }

    .mobile-menu-item_sub-link {
        text-decoration: none;
        color: rgba(255, 255, 255, 0.6);
        font-size: 0rem;
        display: block;
        padding: 20px 10px;
    }
    
    .change-height {
        height: 62px;
        transition: 0.9s;
    }
    .change-height .mobile-menu-item_sub-link {
        transition: 0.6s;
        font-size: 1.2rem;
    }

    .mobile-arrow {
        color: rgba(255, 255, 255, 0.6);
        z-index: 999;
        position: absolute;
        top: 0;
        right: 0;
        padding: 30px;
        font-size: 1.2rem;
    }

    /* CSS form validates */

    .form-header {
        justify-content: center;
    }

    .form-header_link {
        margin-left: unset;
    }

    .form-header_img {
        transform: unset;
    }

    .form-container_heading {
        font-size: 2rem;
    }

    .form-container_heading br {
        display: none;
    }

    .btn-form {
        font-size: 1.2rem;
        min-width: 300px;
        padding: 28px 24px;
    }

    .form-container_or {
        font-size: 1rem;
    }

    .form-container_note-text br {
        display: none;
    }

    .form-phone-password_note {
        margin-top: 30px;
    }

    .video {
        width: 100%;
    }
}